@import "./variables.css";
@import "./fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    color: var(--text-primary);
    font-family: system-ui, sans-serif;
}

button {
    background-color: var(--color-border);
    border-radius: var(--border-radius);
    color: var(--text-muted);
    border-width: 0;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.2s ease,
    color 0.2s ease,
    transform 0.1s ease;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: var(--text-muted);
        color: var(--color-surface);
    }

}