.sudoku-container {
    padding: 20px;
    background-color: var(--color-surface);
    font-family: Arial, sans-serif;
    border-radius: var(--border-radius);
}

.puzzle-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.puzzle-info > div {
    flex: 1;
}

.timer {
    text-align: center;
}

.new-puzzle {
    display: flex;
    justify-content: end;
}

.new-puzzle-button {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    color: var(--text-muted);
    border-width: 0;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.sudoku-grid {
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    border: 2px solid var(--color-border);
    margin-bottom: 10px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    outline: none;
    background-color: white;
    border: 1px solid var(--color-border);
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.cell:nth-child(9n + 3),
.cell:nth-child(9n + 6) {
    border-right-width: 3px;
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom-width: 3px;
}

.cell:focus {
    border-color: var(--color-accent);
}

.cell.locked {
    background-color: #eee;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completion-message {
    margin-top: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.loading {
    padding: 16px;
    font-size: 16px;
}
