.theme-button {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    color: var(--text-muted);
    border-width: 0;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}