.loading {
    padding: 16px;
    font-size: 16px;
}

.sudoku-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--color-surface);
    font-family: Arial, sans-serif;
    border-radius: var(--border-radius);

    .completion-message {
        margin-top: 16px;
        color: green;
        font-weight: bold;
        font-size: 18px;
    }

}
