.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    border: 2px solid var(--color-border);
    background-color: white;

    @media (max-width: 576px) {
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(9, 30px);
    }
}

