.sudoku-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .difficulty-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex: 1;

        .difficulty {
            color: var(--text-muted);
        }
    }

    .timer-container {
        flex: 1;
        text-align: center;
    }

    .new-puzzle-container {
        flex: 1;
        display: flex;
        justify-content: end;
    }
}